{% extends "base.html" %}
{% block title %}
Người dùng
{% endblock %}

{% block content %}
<div class="container center mt-5">
    <div class="header-box">

        <h1>Thông tin người dùng</h1>
    </div>
    <!-- <div class="row"> -->
        <div class="left-box">
            <img src="https://avatar.iran.liara.run/public" alt="Image" class="left-image" />
        </div>
        <div class="right-box">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="hoten" class="form-label">Họ tên</label>
                        <input type="text" id="fullname" class="form-control" 
                               value="{{ employee.HoNV }} {{ employee.TenNV }}" readonly>
                    </div>
                    
                    <div class="mb-3">
                        <label for="ngaysinh" class="form-label">Ngày sinh</label>
                        <input type="text" id="fullname" class="form-control" 
                        value="{{ employee.NgaySinh.strftime('%d-%m-%Y') if employee.NgayVaoLam else '' }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="cccd" class="form-label">CCCD</label>
                        <input type="text" id="fullname" class="form-control" value="{{employee.CCCD}}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="chucvu" class="form-label">Chức vụ</label>
                        <input type="text" id="fullname" class="form-control" value="{{user.nhom_nguoi_dung.TenNhomNguoiDung}}" readonly>
                    </div>

                </div>

                <div class="col-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" id="fullname" class="form-control" value="{{employee.Email}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="sdt" class="form-label">SDT</label>
                        <input type="text" id="fullname" class="form-control" value="{{employee.SDT}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="ngayvaolam" class="form-label">Ngày Vào Làm</label>
                        <input type="text" id="fullname" class="form-control" 
                        value="{{ employee.NgayVaoLam.strftime('%d-%m-%Y') if employee.NgayVaoLam else '' }}" readonly>

                    </div>
                    <div class="mb-3">
                        <label for="tinhtrang" class="form-label">Tình trạng</label>
                        <input type="text" id="fullname" class="form-control" value="{{ 'Còn làm việc' if employee.TinhTrang else 'Đã nghỉ làm' }}" readonly>
                    </div>
                </div>
            </div>

        </div>

    <!-- </div> -->
</div>
{% endblock %}