{% extends "user/khachhang/base_user.html" %}
{% block title %}
Người dùng
{% endblock %}
{% block header %}
    <h1 style="text-align: center;">Thông tin khách hàng</h1>
  {% endblock %}
{% block content %}
<!-- <div class="container center mt-5"> -->
  

  <!-- <div class="row"> -->
  <div class="left-box">
    <img src="{{ avatar_url }}" alt="Image" class="left-image" />
  </div>
  <div class="right-box">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="hoten" class="form-label">Họ tên</label>
          <input type="text" id="fullname" class="form-control" value="{{ khachhang.HoKH }} {{ khachhang.TenKH }}" readonly>
        </div>

        <!-- <div class="mb-3">
                        <label for="ngaysinh" class="form-label">Ngày sinh</label>
                        <input type="text" id="fullname" class="form-control" 
                        value="{{ khachhang.NgaySinh.strftime('%d-%m-%Y') if khachhang.NgayVaoLam else '' }}" readonly>
                    </div> -->

        <!-- <div class="mb-3">
                        <label for="cccd" class="form-label">CCCD</label>
                        <input type="text" id="fullname" class="form-control" value="{{khachhang.CCCD}}" readonly>
                    </div> -->

        <div class="mb-3">
          <label for="chucvu" class="form-label">Email</label>
          <input type="text" id="Email" class="form-control" value="{{khachhang.Email}}" readonly>
        </div>
        <div class="mb-3">
          <label for="sdt" class="form-label">SDT</label>
          <input type="text" id="fullname" class="form-control" value="{{khachhang.SDT}}" readonly>
        </div>
      </div>

      <div class="col-6">
        <div class="mb-3">
          <label for="email" class="form-label">Đểm tiêu dùng</label>
          <input type="text" id="DiemTieuDung" class="form-control" value="{{khachhang.DiemTieuDung}}" readonly>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Đểm tích lũy</label>
          <input type="text" id="DiemTichLuy" class="form-control" value="{{khachhang.DiemTichLuy}}" readonly>
        </div>
        
        <div class="mb-3">
          <label for="ngayvaolam" class="form-label">Ngày Mở thẻ</label>
          <input type="text" id="fullname" class="form-control" value="{{ khachhang.NgayMoThe.strftime('%d-%m-%Y') if khachhang.NgayMoThe else '' }}" readonly>

        </div>
        <div class="mb-3">
          <label for="tinhtrang" class="form-label">Loại khách hàng</label>
          <input type="text" id="fullname" class="form-control" value="{{ khachhang.LoaiKH }}" readonly>
        </div>
      </div>
    </div>

  </div>

  <!-- </div> -->
<!-- </div> -->
{% endblock %}