{% extends "admin/base.html" %}

{% block title %}
Đơn đặt hàng
{% endblock %}

{% block content %}
<h1 style="text-align: center;">Danh sách đơn đặt hàng</h1>
<table class="table table-striped" style="width: 90%; margin: 0 auto; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);">
  <thead>
    <tr style="text-align: center;">
      <th>MaDDH</th>
      <th>Họ tên người đặt</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Ngày đặt</th>
      <th>Giờ đến</th>
      <th>Thời lượng</th>
      <th>Loại</th>
      <th>Trạng thái</th>
      <th>Thành tiền</th>
      <th>Nhân viên</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr id="order-{{ order.MaDDH }}">
      <td style="text-align: center; align-content: center;">
        {{ order.MaDDH }}
      </td>
      <td>
        {{ order.HoTenNguoiDat }}
      </td>
      <td>
        {{ order.Email }}
      </td>
      <td>
        {{ order.SDT }}
      </td>
      <td style="text-align: center;">
        {{ order.NgayDat.strftime('%d-%m-%Y') }}
      </td>
      <td style="text-align: center;">
        {{ order.GioDen.strftime('%H:%M') }}
      </td>
      <td style="text-align: center;">
        {{ order.ThoiLuong }}
      </td>
      <td style="text-align: center;">
        {{ 'Mang về' if order.Loai == 0 else 'Tại chỗ' }}
          
      </td>
      <td style="text-align: center;">
        {{ order.TrangThai }}
      </td>
      <td style="text-align: center;">
        {{ order.ThanhTien }}
      </td>
      <td style="text-align: center;">
        {{ order.idNV }}
      </td>
      <td class="actions" style="text-align: center;">
        <!-- Form Xóa đơn hàng -->
        <form action="/dondathang/delete-order" method="POST" onsubmit="return confirm('Bạn có chắc muốn xóa đơn hàng này?');">
          <input type="hidden" name="MaDDH" value="{{ order.MaDDH }}" />
          <button class="btn btn-danger" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
            </svg>
          </button>
        </form>

        <!-- Nút sửa đơn hàng -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal-{{ order.MaDDH }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
          </svg>
        </button>

        <!-- Modal sửa đơn hàng -->
        <div class="modal fade" id="editModal-{{ order.MaDDH }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="/dondathang/edit-order" method="POST" id="edit-order-form-{{ order.MaDDH }}">
                <input type="hidden" name="MaDDH" value="{{ order.MaDDH }}">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalLabel">Sửa đơn đặt hàng #
                    {{ order.MaDDH }}
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">
                  <div class="mb-3">
                    <label for="HoTenNguoiDat-{{ order.MaDDH }}" class="form-label">Họ tên người
                      đặt</label>
                    <input type="text" class="form-control" id="HoTenNguoiDat-{{ order.MaDDH }}" name="HoTenNguoiDat" value="{{ order.HoTenNguoiDat }}" required>
                  </div>
                  <div class="mb-3">
                    <label for="Email-{{ order.MaDDH }}" class="form-label">Email</label>
                    <input type="email" class="form-control" id="Email-{{ order.MaDDH }}" name="Email" value="{{ order.Email }}" required>
                  </div>
                  <div class="mb-3">
                    <label for="SDT-{{ order.MaDDH }}" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="SDT-{{ order.MaDDH }}" name="SDT" value="{{ order.SDT }}" required>
                  </div>
                  <div class="mb-3">
                    <label for="NgayDen-{{ order.MaDDH }}" class="form-label">Ngày đặt</label>
                    <input type="date" class="form-control" id="NgayDat-{{ order.MaDDH }}" name="NgayDat" value="{{ order.NgayDat.strftime('%Y-%m-%d') }}" required>
                  </div>

                  <div class="mb-3">
                    <label for="GioDen-{{ order.MaDDH }}" class="form-label">Giờ đến</label>
                    <input type="time" class="form-control" id="GioDen-{{ order.MaDDH }}" name="GioDen" value="{{ order.GioDen.strftime('%H:%M') }}" required>
                  </div>
                  <div class="mb-3">
                    <label for="ThoiLuong-{{ order.MaDDH }}" class="form-label">Thời lượng</label>
                    <input type="text" class="form-control" id="ThoiLuong-{{ order.MaDDH }}" name="ThoiLuong" value="{{ order.ThoiLuong }}" required>
                  </div>
                  <div class="mb-3">
                    <label for="Loai-{{ order.MaDDH }}" class="form-label">Loại</label>
                    <select class="form-select" id="Loai-{{ order.MaDDH }}" name="Loai">
                      <option value="0" {% if order.Loai == 0 %}selected{% endif %}>Mang về</option>
                      <option value="1" {% if order.Loai == 1 %}selected{% endif %}>Tại chỗ</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="TrangThai-{{ order.MaDDH }}" class="form-label">Trạng thái</label>
                    <input type="text" class="form-control" id="TrangThai-{{ order.MaDDH }}" name="TrangThai" value="{{ order.TrangThai }}" readonly>
                  </div>
                  <div class="mb-3">
                    <label for="ThanhTien-{{ order.MaDDH }}" class="form-label">Thành tiền</label>
                    <input type="number" class="form-control" id="ThanhTien-{{ order.MaDDH }}" name="ThanhTien" value="{{ order.ThanhTien }}" readonly>
                  </div>
                  <div class="mb-3">
                    <label for="idNV-{{ order.idNV }}" class="form-label">Nhân viên</label>
                    <input type="text" class="form-control" id="idNV-{{ order.idNV }}" name="idNV" value="{{ order.idNV }}" readonly>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}