{% extends "admin/base.html" %}
{% block title %}
Quản lý nhân viên

{% endblock %}

{% block content%}
<h1>Quản lý nhân viên</h1>


<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif category == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}



<div class="container d-flex flex-column mt-4" id="formGroup">
    <div id="formGroup">
        <div class="d-flex flex-row justify-content-end gap-1 mb-3">
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#formAdd"
                aria-expanded="false" aria-controls="formAdd">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>
                Thêm nhân viên
            </button>
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#formSearch"
                aria-expanded="false" aria-controls="formSearch">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                Tìm kiếm
            </button>
        </div>

        <!-- Add Form -->
        <div class="col">
            <div class="accordion-collapse collapse" id="formAdd" data-error="{{ 'true' if formAdd_error else 'false' }}">
                <div class="card card-body">
                    <form id="form-add" action="{{ url_for('nhanvien.employee') }}" method="POST" >
                        <div class="row">
                            <div class="col-6">
                                {{ formAdd.hidden_tag() }}
                                <div class="row">
                                    <div class="col-8 mb-3">
                                        <label for="honv">{{ formAdd.HoNV.label }}</label>
                                        {{ formAdd.HoNV(class="form-control mt-2", placeholder="Nhập họ và tên lót - VD: Nguyễn Văn") }}
                                        {% if formAdd.HoNV.errors %}
                                        <span class="form-error">{{ formAdd.HoNV.errors[0] }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-4 mb-3">
                                        <label for="tennv">{{ formAdd.TenNV.label }}</label>
                                        {{ formAdd.TenNV(class="form-control mt-2", placeholder="Nhập tên - VD: An") }}
                                        {% if formAdd.TenNV.errors %}
                                        <span class="form-error">{{ formAdd.TenNV.errors[0]}}</span>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <label for="cccd">{{ formAdd.CCCD.label }}</label>
                                    {{ formAdd.CCCD(class="form-control mt-2", placeholder="Nhập 12 ký tự số - VD: 050012345678") }}
                                    {% if formAdd.CCCD.errors %}
                                    <span class="form-error">{{ formAdd.CCCD.errors[0]}}</span>
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    <label for="email">{{ formAdd.Email.label }}</label>
                                    {{ formAdd.Email(class="form-control mt-2", placeholder="Nhập email - VD: ngvana@gmail.com") }}
                                    {% if formAdd.Email.errors %}
                                    <span class="form-error">{{ formAdd.Email.errors[0]}}</span>
                                    {% endif %}
                                </div>

                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="sdt">{{ formAdd.SDT.label }}</label>
                                    {{ formAdd.SDT(class="form-control mt-2", placeholder="Nhập số điện thoại - VD: 0123456789") }}
                                    {% if formAdd.SDT.errors %}
                                    <span class="form-error">{{ formAdd.SDT.errors[0]}}</span>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label for="ngaysinh">{{ formAdd.NgaySinh.label }}</label>
                                        {{ formAdd.NgaySinh(class="form-control mt-2", placeholder="Nhập ngày sinh - VD: 12/12/2003") }}
                                        {% if formAdd.NgaySinh.errors %}
                                        <span class="form-error">{{ formAdd.NgaySinh.errors[0]}}</span>
                                        {% endif %}
                                    </div>
                                    <div class=" col-6 mb-3">
                                        <label for="ngayvaolam">{{ formAdd.NgayVaoLam.label }}</label>
                                        {{ formAdd.NgayVaoLam(class="form-control mt-2", placeholder="Nhập ngày vào làm - VD: 22/11/2024") }}
                                        {% if formAdd.NgayVaoLam.errors %}
                                        <span class="form-error">{{ formAdd.NgayVaoLam.errors[0]}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label>{{ formAdd.TinhTrang.label }}</label><br>
                                        <div>
                                            {{ formAdd.TinhTrang(class="d-flex d-column gap-5 mt-2 ") }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label>{{ formAdd.GioiTinh.label }}</label><br>
                                        <div>
                                            {{ formAdd.GioiTinh(class="d-flex d-column gap-5 mt-2 ") }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            {{ formAdd.submit(class="btn btn-success") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Search Form -->
        <div class="col">
            <div class="accordion-collapse collapse" id="formSearch" data-error="{{ 'true' if formSearch_error else 'false' }}">
                <div class="card card-body">
                    <form id="form-search" action="{{ url_for('nhanvien.search') }}" method="POST">
                        <div class="row">
                            <div class="col-6">
                                {{ formSearch.hidden_tag() }}
                                <div class="row">
                                    <div class="col-2 mb-3">
                                        <label for="cccd">{{ formSearch.MaNV.label }}</label>
                                        {{ formSearch.MaNV(class="form-control mt-2", placeholder="VD: 1") }}
                                        {% if formSearch.MaNV.errors %}
                                        <span class="form-error">{{ formSearch.MaNV.errors[0]}}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-7 mb-3">
                                        <label for="honv">{{ formSearch.HoNV.label }}</label>
                                        {{ formSearch.HoNV(class="form-control mt-2", placeholder="VD: Nguyễn Văn") }}
                                        {% if formSearch.HoNV.errors %}
                                        <span class="form-error">{{ formSearch.HoNV.errors[0] }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-3 mb-3">
                                        <label for="tennv">{{ formSearch.TenNV.label }}</label>
                                        {{ formSearch.TenNV(class="form-control mt-2", placeholder="VD: An") }}
                                        {% if formSearch.TenNV.errors %}
                                        <span class="form-error">{{ formSearch.TenNV.errors[0]}}</span>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class=" col-6 mb-3">
                                        <label for="ngayvaolam">{{ formSearch.NgayVaoLam.label }}</label>
                                        {{ formSearch.NgayVaoLam(class="form-control mt-2", placeholder="Nhập ngày vào làm - VD: 22/11/2024") }}
                                        {% if formSearch.NgayVaoLam.errors %}
                                        <span class="form-error">{{ formSearch.NgayVaoLam.errors[0]}}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label>{{ formSearch.TinhTrang.label }}</label><br>
                                        <div>
                                            {{ formSearch.TinhTrang(class="d-flex d-column gap-5 mt-2 list-unstyled") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            {{ formSearch.submit(class="btn btn-success") }}
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Buttons to show/hide the forms -->
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">Mã NV</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                {% for nv in listNV %}
                <tr>
                    <td>{{ nv.MaNV }}</td>
                    <td>{{ nv.HoNV }} {{ nv.TenNV }}</td>
                    <td>{{ nv.NgaySinh.strftime("%d/%m/%Y") if nv.NgaySinh else "" }}</td>
                    <td>{{ "Chưa xác định" if nv.idNguoiDung == None else
                        nv.nguoi_dung.nhom_nguoi_dung.TenNhomNguoiDung}}
                    </td>
                    <td>{{ "Nam" if nv.GioiTinh == 0 else "Nữ" }}</td>
                    <td>{{ "Đã nghỉ làm" if nv.TinhTrang == 1 else "Đang làm việc" }}</td>

                    <td>
                        <a href="{{ url_for('nhanvien.nhanvien_info', manv=nv.MaNV) }}" class="btn btn-outline-success"
                            style="justify-content: right;">
                            Xem thông tin
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Điều hướng phân trang -->
        <div class="pagination">
            <ul class="pagination">

                {% if pagination.has_prev %}
                <li class="pagination-item">
                    <a href="{{ url_for('nhanvien.search', page=pagination.prev_num, **search_params) if search_params else url_for('nhanvien.employee', page=pagination.prev_num) }}" 
                       class="btn btn-dark">Previous</a>
                </li>
                {% endif %}
        
                {% for page_num in range(1, pagination.pages + 1) %}
                <li class="pagination-item">
                    {% if page_num == pagination.page %}
                    <a href="#" class="btn btn-dark disabled">{{ page_num }}</a>
                    {% else %}
                    <a href="{{ url_for('nhanvien.search', page=page_num, **search_params) if search_params else url_for('nhanvien.employee', page=page_num) }}" 
                       class="btn btn-outline-dark">{{ page_num }}</a>
                    {% endif %}
                </li>
                {% endfor %}
        
                {% if pagination.has_next %}
                <li class="pagination-item">
                    <a href="{{ url_for('nhanvien.search', page=pagination.next_num, **search_params) if search_params else url_for('nhanvien.employee', page=pagination.next_num) }}" 
                       class="btn btn-dark">Next</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        // Kiểm tra nếu có lỗi và mở collapse tương ứng
        var collapse1 = document.getElementById('formAdd');
        var collapse2 = document.getElementById('formSearch');

        // Kiểm tra dữ liệu lỗi trong thuộc tính data-error
        if (collapse1.getAttribute('data-error') === 'true') {
            var collapse1Instance = new bootstrap.Collapse(collapse1, {
                toggle: true
            });
        }

        if (collapse2.getAttribute('data-error') === 'true') {
            var collapse2Instance = new bootstrap.Collapse(collapse2, {
                toggle: true
            });
        }
    }
</script>

<script>
    flatpickr("#ngaysinh", {
        dateFormat: "d/m/Y",
        maxDate: new Date().setFullYear(new Date().getFullYear() - 18)
    });
    flatpickr("#ngayvaolam", {
        dateFormat: "d/m/Y",  
        maxDate: "today"
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/collapse.js') }}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />

{% endblock %}