{% extends "base.html" %}
{% block title %}Chi tiết phiếu nhập{% endblock %}

{% block content %}
<h1>Chi tiết phiếu nhập số {{ received_note.SoPhieuNhap }}</h1>
<br>
<p><strong>Ngày nhập:</strong> {{ received_note.NgayNhap.strftime('%d-%m-%Y %H:%M') }}</p>
<p><strong>Tổng tiền:</strong> {{ "{:,.2f}".format(tong_tien) }}</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Tên nguyên liệu</th>
            <th class="text-center">Đơn vị tính</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Đơn giá</th>
            <th class="text-center">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        {% for item in details %}
        <tr>
            <td class="text-center">{{ item.ten_nguyen_lieu }}</td>
            <td class="text-center">{{ item.don_vi_tinh }}</td>
            <td class="text-center">{{ item.so_luong }}</td>
            <td class="text-center">{{ "{:,.2f}".format(item.don_gia) }}</td>
            <td class="text-center">{{ "{:,.2f}".format(item.thanh_tien) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('phieunhap.received_notes') }}" class="btn btn-outline-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-arrow-left-circle mb-1" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
    </svg>
    Quay lại danh sách phiếu nhập
</a>
{% endblock %}