<!-- form thêm nguyên liệu mới -->
<div class="card">
    <div class="card-header">
        {% if ingredient %}
        <b style="color:brown;">Cập nhật nguyên liệu</b>
        {% else %}
        <b>Thêm nguyên liệu mới</b>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="POST" {% if ingredient %} action="{{ url_for('nguyenlieu.ingredients', id=ingredient.MaNL) }}" {%
            else %} action="{{ url_for('nguyenlieu.ingredients') }}" {% endif %} class="row g-3 needs-validation"
            novalidate>
            {{ form.hidden_tag() }}

            <div class="col-md-4">
                {{ form.TenNguyenLieu.label(class="form-label") }}<span style="color: red;">*</span>
                {{ form.TenNguyenLieu(class="form-control", required=True, placeholder='VD: Thịt gà') }}
                <div class="invalid-feedback">
                    Vui lòng nhập tên nguyên liệu!
                </div>
            </div>

            <div class="col-md-4">
                {{ form.DonGia.label(class="form-label") }}<span style="color: red;">*</span>
                {{ form.DonGia(class="form-control", step="1000", required=True, placeholder='Đơn vị: VNĐ') }}
                <div class="invalid-feedback">
                    Vui lòng nhập đơn giá hợp lệ!
                </div>
            </div>

            <div class="col-md-4">
                {{ form.DonViTinh.label(class="form-label") }}<span style="color: red;">*</span>
                {{ form.DonViTinh(class="form-select", required=True) }}
                <div class="invalid-feedback">
                    Vui lòng chọn đơn vị tính!
                </div>
            </div>
            {% if ingredient %}
            {% else%}
            <div class="col-md-6">
                {{ form.NgayNhap.label(class="form-label") }}<span style="color: red;">*</span>
                {{ form.NgayNhap(class="form-control", id="ngayNhap", required=True, placeholder='Bấm vào để chọn') }}
                <div class="invalid-feedback">
                    Vui lòng nhập ngày!
                </div>
            </div>
            <script>
                flatpickr("#ngayNhap", {
                    enableTime: true,
                    dateFormat: "d-m-Y H:i",
                });
            </script>
            <div class="col-md-6">
                {{ form.SoLuongTon.label(class="form-label") }}<span style="color: red;">*</span>
                {{ form.SoLuongTon(class="form-control", id="SoLuongTon", required=True, placeholder='VD: 5') }}
                <div class="invalid-feedback">
                    Vui lòng nhập số lượng!
                </div>
            </div>
            {% endif %}

            <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    {% if ingredient %} Cập nhật {% else %} Thêm mới {% endif %}
                </button>
                {% if ingredient %}
                <a href="{{url_for('nguyenlieu.ingredients', id=None)}}" class="btn btn-secondary">
                    Quay lại thêm mới
                </a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='js/validationForm.js')}}"></script>