{% extends "admin/base.html" %}
{% block title %}Thêm chức năng{% endblock %}

{% block content %}
{% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" ">
        <strong >{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">Thêm chức năng</h1>
        <form method="POST" action="{{ url_for('chucnang.add') }}">
            
            <div class="mb-3">
                <label for="TenManHinh" class="form-label">Tên chức năng</label>
                <input type="text" class="form-control" id="TenManHinh" name="TenManHinh" required>
            </div>
            
            <button type="submit" class="btn btn-success">Thêm</button>
            <a href="{{ url_for('chucnang.list_chucnang') }}" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>
{% endblock %}
