{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong> {{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="Username">User Name</label>
        <input type="Username" class="form-control" id="Username" name="Username" placeholder="Enter Username" />
    </div>
    <div class="form-group">
        <label for="MatKhau">Mật khẩu</label>
        <input type="MatKhau" class="form-control" id="MatKhau" name="MatKhau" placeholder="Enter Password" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}